{:aliases {:dev {:extra-deps {
                              scicloj/clojisr {:mvn/version "RELEASE"}
                              techascent/tech.ml.dataset {:mvn/version "RELEASE"}
                              techascent/tech.datatype {:mvn/version "RELEASE"}
                              genmeblog/techtest {:local/root "../techtest/"}
                              ;; genmeblog/techtest {:git/url "https://github.com/genmeblog/techtest", :sha "16c5b56f0b87814300d862f768c8742badb88d6f"}
                              }
                 }}}
